<!doctype html>
<html lang="en">
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div class="container"> 
      <h2>Address</h2>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post">
            {% csrf_token %}
            <input type="text" name="name" class="form-control" placeholder="Address..." aria-label="Search" ><br><button type="submit" class="btn btn-primary">Send</button>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    {% for header in title %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </thead>
            </table>
        </div>
        <br>
        <h3>Json Address :</h3>
        <h4> {{ elem_json }}</h4>       
    </div>
  </body>
</html>